@page "/artist/{ArtistId:long}"
@attribute [Authorize]
@inject ITrackService _trackService;
@inject IArtistService _artistService;
@inject IPlaylistService _playlistService;
@inject IEventService _eventService

@using Chinook.ClientModels
@using Chinook.Services;
@using Chinook.Utility;
@using System.Security.Claims;

@if (!string.IsNullOrWhiteSpace(InfoMessage) || !string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="@AlertCssClass fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @InfoMessage
                @ErrorMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseAlertMessage"></button>
        </div>
    </div>
}

@if (Artist == null)
{
    <Loading />
}
else
{
    <h1>@Artist.Name</h1>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Album title</th>
                <th>Track name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Tracks)
            {
                <tr>
                    <td>@track.AlbumTitle</td>
                    <td>@track.TrackName</td>
                    <td>
                        @if (track.IsFavorite)
                        {
                            <a href="#" class="m-1" title="Unmark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                        }
                        else
                        {
                            <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                        }
                        <a href="#" class="m-1" title="Add to playlist" @onclick="@(() => OpenPlaylistDialog(track.TrackId))" @onclick:preventDefault><i class="bi bi-file-earmark-plus"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    [Parameter] public long ArtistId { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    private Modal PlaylistDialog { get; set; }

    private string NewPlaylistName;
    private ClientModels.Artist Artist;
    private List<ClientModels.PlaylistTrack> Tracks;
    private List<ClientModels.Playlist> Playlists;

    private ClientModels.PlaylistTrack SelectedTrack;
    private long SelectedPlaylistId;
    private string InfoMessage;
    private string ErrorMessage;
    private string AlertCssClass;
    private string CurrentUserId;
    private string NameNotUniqueErrorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await InvokeAsync(StateHasChanged);
            CurrentUserId = await GetUserId();
            Artist = await _artistService.GetArtistById(ArtistId);
            await PopulateTracks();
        }
        catch (Exception e)
        {
            DisplayErrorMessage(e);
        }
    }

    private async Task PopulateTracks()
    {
        Tracks = await _trackService.GetTracksByArtistId(ArtistId, CurrentUserId);
    }

    private async void FavoriteTrack(long trackId)
    {
        try
        {
            var track = await _trackService.ToggleFavoriteTrack(trackId, true, await GetUserId());
            await PopulateTracks();
            DisplayInfoMessage($"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} added to playlist {AppConstants.Favorites}.");
        }
        catch (Exception e)
        {
            DisplayErrorMessage(e);
        }
    }

    private async void UnfavoriteTrack(long trackId)
    {
        try
        {
            var track = await _trackService.ToggleFavoriteTrack(trackId, false, await GetUserId());
            await PopulateTracks();
            DisplayInfoMessage($"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} removed from playlist {AppConstants.Favorites}.");
        }
        catch (Exception e)
        {
            DisplayErrorMessage(e);
        }
    }

    private async void OpenPlaylistDialog(long trackId)
    {
        try
        {
            CloseAlertMessage();
            SelectedTrack = Tracks.FirstOrDefault(t => t.TrackId == trackId);

            Playlists = await _playlistService.GetPlaylists(await GetUserId());
            if (Playlists != null && Playlists.Count > 0 && SelectedPlaylistId == 0)
                SelectedPlaylistId = Playlists[0].PlaylistId;

            PlaylistDialog.Open();
        }
        catch (Exception e)
        {
            DisplayErrorMessage(e);
        }
    }

    private async void AddTrackToPlaylist()
    {
        try
        {
            long playlistId = await CreatePlaylist();

            if (NewPlaylistNotCreated())
            {
                playlistId = SelectedPlaylistId;
            }

            if (playlistId >= 0)
            {
                string playlistName = await _trackService.AddTrackToPlaylist(SelectedTrack.TrackId, playlistId);
                await PopulateTracks();

                string finalPlaylistName = (string.IsNullOrWhiteSpace(NewPlaylistName)) ? playlistName : NewPlaylistName;
                DisplayInfoMessage($"Track {Artist.Name} - {SelectedTrack.AlbumTitle} - {SelectedTrack.TrackName} added to playlist {finalPlaylistName}.");
                PlaylistDialog.Close();


            }

            bool NewPlaylistNotCreated()
            {
                return playlistId == 0;
            }
        }
        catch (Exception e)
        {
            DisplayErrorMessage(e);
        }
    }

    private async Task<long> CreatePlaylist()
    {
        if (string.IsNullOrWhiteSpace(NewPlaylistName)) return 0;

        try
        {
            return await _playlistService.CreatePlaylist(NewPlaylistName, await GetUserId());
        }
        catch (ArgumentException)
        {
            NameNotUniqueErrorMessage = $"Playlist name {NewPlaylistName} already exists. Please add a unique name.";
            return -1;
        }
    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    private void PlaylistChanged(ChangeEventArgs args)
    {
        SelectedPlaylistId = Convert.ToInt32(args?.Value);
    }

    private void DisplayInfoMessage(string message)
    {
        CloseAlertMessage();

        if (!string.IsNullOrEmpty(message))
        {
            AlertCssClass = "alert alert-info";
            InfoMessage = message;
        }
    }

    private void DisplayErrorMessage(Exception e)
    {
        CloseAlertMessage();

        if (e != null && !string.IsNullOrEmpty(e.Message))
        {
            AlertCssClass = "alert alert-danger";
            ErrorMessage = e.Message;
        }
    }

    private void CloseAlertMessage()
    {
        InfoMessage = "";
        ErrorMessage = "";
        Cleanup();
    }

    private void Cleanup()
    {
        NewPlaylistName = string.Empty;
        NameNotUniqueErrorMessage = string.Empty;
    }
}

<Modal @ref="PlaylistDialog">
    <Title>
        Add to playlist
    </Title>
    <Body>
        @if (SelectedTrack != null)
        {
            <div class="form-group mb-2">
                <label>@Artist.Name - @SelectedTrack.AlbumTitle - @SelectedTrack.TrackName</label>
            </div>
        }

        <div class="form-group mb-2">
            <label for="ExistingPlaylist">Add to existing playlist</label>
            <select class="form-control" id="ExistingPlaylist" @onchange="PlaylistChanged">
                @if (Playlists != null)
                    foreach (var playlist in Playlists)
                    {
                        <option value="@playlist.PlaylistId">@playlist.Name</option>
                    }
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="NewPlaylist">Create new playlist</label>
            <input type="text" id="NewPlaylist" class="form-control" placeholder="Name for the new playlist" @bind="NewPlaylistName">
            <label style="color: red; font-size:14px;">@NameNotUniqueErrorMessage</label>
        </div>
    </Body>
    <Footer>
        <button class="btn btn-success" @onclick="AddTrackToPlaylist">Save</button>
    </Footer>
</Modal>
